<input #inputText>
<button (click)="add2(inputText)">Dodaj</button>
<app-child #childRef [tasks]="tasksList" (eventTask)="selected($event)"></app-child>

<div>
    <div class="container">
      <div>
      <app-add-task (emitTask)="add($event)"></app-add-task>
      </div>
    </div>

    <div class="container">

      <app-todo-task [tasksList]="tasksList2" (emitDone)="done($event)" (emitRemove)="remove($event)"></app-todo-task>

      <div>
        <app-done-task [tasksDone]="tasksDone"></app-done-task>
      </div>

    </div>
  </div>


  <app-child-lol>
    <h1>ssssssssss</h1>
    <ul>
      <li>lol</li>
      <li>mon</li>
    </ul>
  </app-child-lol>


  <div *ngIf="show">
    <app-child-life [inputText]="title" [inputDog]="dog"></app-child-life>
  </div>
  <button (click)="changeTitle()">Zmień tytuł</button>
  <button (click)="changeDog()">Zmień psa</button>
  <button (click)="nothing()">nie rb nic </button>
  <button (click)="destroy()">usuń kompnent</button>
